.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  padding: 0.5rem 1rem;
}

.navbar_start {
  justify-content: flex-start;
  align-items: center;
}

.navbar_center {
  justify-content: center;
  align-items: center;
}

.navbar_end {
  justify-content: flex-end;
  align-items: center;
}

.navbar_item {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #555;
}

.search {
  display: inline-block;
  text-decoration: none;
  color: #555;
}

.search_input {
  width: 350px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
}

.search_button {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
}
.search_button:hover {
  background-color: #ccc;
}

.search_icon {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
}
